body{
  font-family: Arial;
  background-color: yellow;
}

.background{
 background-image: url("https://cdn.mos.cms.futurecdn.net/CkZ4B2DMRyfzB5PfDKa6tA.jpg");

}

.left-btn{
  float: left;
}

.container{
  margin: auto;
  text-align: center;
}

.card-form{
  margin: auto;
  margin-top: 2%;
  padding: 100px;
  border-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  background: yellow;
}

.edit{
  margin-top: 5%;
  font-size: xx-large;
  font-family: bold Calibri;

}


